- if current_user and current_user.admin?
  = link_to 'New Category', new_category_path, class: 'btn btn-success'
%h1 Categories:
- if categories.count == 0
  %p
    %i No categories yet.
- else
  %ul.list-group
    - categories.each do |category|
      .row
        .col-md-8
          %b= link_to category.name, category, class: 'list-group-item'
        .col-md-4  
          - if current_user and current_user.admin?
            %span.badge
              = link_to 'Edit', edit_category_path(category), class: 'btn btn-warning'
              = link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
